.recipe {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: left;
  transition: transform 0.2s ease-in-out;
}

.recipe:hover {
  transform: scale(1.05);
}

.recipe h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.recipe p {
  font-size: 16px;
  margin: 5px 0;
}

.recipe img {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
  border-radius: 5px;
  margin-top: 10px;
}

.recipe h3 {
  font-size: 18px;
  margin-top: 10px;
}

.recipe ol {
  list-style:decimal;
  padding-left: 20px;
  margin-top: 5px;
}

.recipe li {
  font-size: 16px;
  margin: 5px 0;
}
